body {
  font-size: 16px;
  line-height: 1.6;
  color: #8D96A7;
  font-family: 'Open Sans';
  font-weight: 400;
}

header {
  padding-top: 65px;
}

header h1 {
  color: #0c342a;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  header h1 {
    margin-bottom: 0;
    text-align: left;
    float: left;
  }
}

nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  nav ul {
    text-align: right;
    float: right;
  }
}

nav ul li {
  display: inline-block;
  padding-left: 15px;
  font-size: 14px;
}

nav ul li a,
nav ul li a:visited {
  color: #8b8b8b;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: #19D567;
}

.hero {
  padding-top: 130px;
  text-align: center;
}

section h4,
section h3,
.hero h3 {
  color: #131431;
  font-size: 32px;
  margin-bottom: 35px;
  line-height: 1.4;
}

section h3 + p,
.hero h3 + p {
  margin-bottom: 30px;
  text-align: center;
}

a,
a:visited {
  color: #263238;
}

a:hover,
a:focus,
a:active {
  color: #19D567;
  text-decoration: none;
}

.button,
.button:visited {
  text-decoration: none;
  border-radius: 50px;
  padding: 0 35px;
  height: 50px;
  line-height: 49px;
  border: 0;
  color: white;
  text-align: center;
  outline: none;
  display: inline-block;
  background-color: #19D567;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  background-color: #17c35e;
}

.button.blue {
  color: white;
  background-color: #1F8FF0;
}

.button.blue:hover,
.button.blue:focus,
.button.blue:active {
  color: white;
  background-color: #1c82da;
}

.button.button-small {
  font-size: 13px;
  padding: 0 25px;
  height: 40px;
  line-height: 39px;
}

section {
  margin: 130px 0 30px;
}

section h3 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

section h4 {
  font-size: 22px;
  font-weight: 600;
}

section .ugly-image {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section .ugly-image {
    margin-top: 18px;
  }
}

section ul.trackers {
  font-size: 14px;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

section ul.trackers li {
  display: inline-block;
  border-radius: 50px;
  background-color: #EAEDEF;
  padding: 5px 15px;
  margin-bottom: 8px;
}

section ul.trackers li i {
  color: #97D4B1;
}

section ul.trackers li.suggest {
  background-color: #19D567;
}

section ul.trackers li.suggest a,
section ul.trackers li.suggest a i {
  color: white;
}

section ul.trackers li.suggest:hover,
section ul.trackers li.suggest:focus,
section ul.trackers li.suggest:active {
  background-color: #17c35e;
}

.subscribe-container {
  border: 1px solid #EAEDEF;
  padding: 2px;
  border-radius: 50px;
  overflow: hidden;
  height: 56px;
}

.subscribe-container input {
  width: 100%;
  border: 0;
  height: 50px;
  padding-left: 12px;
  padding-right: 150px;
  outline: none;
}

.subscribe-container .button {
  float: right;
  top: -50px;
  position: relative;
}

.twitter, .facebook {
  height: 20px;
  width: 100px;
  overflow: hidden;
  display: inline-block;
}

footer {
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 20px;
}
