<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ugly Email - Gmail Extension To Check If Email Is Being Tracked</title>
    <meta name="description" content="Gmail Extension To Check If Email Is Being Tracked">
    <meta name="keywords" content="Chrome, Extension, Track, Email">
    <meta name="author" content="OneClick Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48564200-6', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Ugly Email</h1>
                    <p class="description">Gmail Extension To Check If Email Is Being Tracked.</p>

                    <div class="call-to-action">
                        <a href="https://chrome.google.com/webstore/detail/uglyemail/ldgiafaliifpknmgofiifianlnbgflgj" onclick="ga('send', 'event', 'Site', 'Download Chrome Plugin');" class="button orange"><i class="fa fa-download"></i> Add to Chrome</a>
                        <span onclick="ga('send', 'event', 'Site', 'Download FireFox Plugin');" class="button"><i class="fa fa-download"></i> FireFox (coming soon)</span>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center featured">
                    <h3>Featured On</h3>
                    <p>
                        <a href="http://www.producthunt.com/posts/ugly-email" target="_blank"><img src="/img/ph.jpg" height="100px" alt="Product Hunt" /></a>
                        <a href="http://www.businessinsider.com/how-to-see-if-my-emails-are-being-tracked-in-gmail-2015-3" target="_blank"><img src="/img/bi.jpg" height="100px" alt="Business Insider" /></a>
                        <a href="http://www.wired.com/2015/03/ugly-mail/" target="_blank"><img src="/img/wired.jpg" height="100px" alt="Wired" /></a>
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 center">
                            <img src="/img/ue.jpg" alt="Evil Eye" class="feature-items" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h3>Evil Eye</h3>
                            <p>Ugly Email safely sniffs through the emails in your inbox and exposes the emails that are being tracked. Every tracked email is marked with the "evil eye" so you can easily identify them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="visible-xs col-md-4 col-sm-4 center">
                            <img src="http://www.google.com/images/icons/product/googlemail-128.png" alt="Gmail" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Gmail</h3>
                            <p>Ugly Email is a Gmail extension that allows you to see if the email is being tracked before opening it. It seamlessly integrates with Gmail.</p>
                        </div>
                        <div class="hidden-xs col-md-4 col-sm-4 center">
                            <img src="http://www.google.com/images/icons/product/googlemail-128.png" alt="Gmail" class="feature-items" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 center">
                            <img src="/img/mail.png" alt="Ugly Email" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Ugly Email</h3>
                            <p>Once you've installed Ugly Email, open a new Gmail tab and try looking at your inbox. You should see Ugly Email "eye" indicator next to each email that is being tracked.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="visible-xs col-md-4 col-sm-4 center">
                            <img src="/img/track.png" alt="Ugly Email" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Email Trackers</h3>
                            <p>Currently we detect tracking pixels from Streak, Yesware, Mandrill, MailChimp, Postmark, TinyLetter, Sidekick, MixMax and Bananatag. Actively working on adding more.</p>
                        </div>
                        <div class="hidden-xs col-md-4 col-sm-4 center">
                            <img src="/img/track.png" alt="Ugly Email" class="feature-items" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 center">
                            <img src="/img/social.png" alt="Ugly Email" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Contact Us</h3>
                            <p>
                                Follow on Twitter <a href="http://twitter.com/oneclicklab" onclick="ga('send', 'event', 'Site', 'Twitter');">@oneclicklab</a>, <a href="http://twitter.com/sonnyt" onclick="ga('send', 'event', 'Site', 'Personal Twitter');">@sonnyt</a> to stay updated. If you run into any problems, please feel free to send us an email at <a href="mailto:hello@uglyemail.com" onclick="ga('send', 'event', 'Site', 'Email');" target="_blank">hello@uglyemail.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <div class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://uglyemail.com" data-via="oneclicklab">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fuglyemail.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Disclaimer</h3>
                    <p><small>Ugly Email does not store, transfer, transmit or save any of your data.</small></p>
                </div>
            </div>
        </section>

        <footer class="footer center">
            <p>&copy; Copyright <script type="text/javascript"> document.write(new Date().getFullYear()); </script> OneClick Lab.</p>
        </footer>
    </div>
</body>
</html>