<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Glass - Chrome Extension To Track Your Daily Water Intake</title>
    <meta name="description" content="Google Chrome Browser Extension To Track Water Intake.">
    <meta name="keywords" content="Chrome,Extension,Water, Glass">
    <meta name="author" content="OneClick Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48564200-5', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Water Glass</h1>
                    <p class="description">Chrome Extension To Track Your Daily Water Intake.</p>

                    <div class="call-to-action">
                        <a href="https://chrome.google.com/webstore/detail/water-glass/cfmnokobeamddnjilinmidbkkdlheghh" onclick="ga('send', 'event', 'Site', 'Download Plugin');" class="button orange"><i class="fa fa-download"></i> Download Chrome</a>
                        <a href="/glass" onclick="ga('send', 'event', 'Site', 'Use As Website');" class="button orange"><i class="fa fa-globe"></i> Use As Website</a>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 center">
                            <img src="/img/chrome.png" alt="Google Chrome" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Chrome</h3>
                            <p>Water Glass is a simple homepage that allows you easily track your daily water intake. It replaces your "New Tab" window and is a great reminder to drink more water.</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="visible-xs col-md-4 col-sm-4 center">
                            <img src="/img/today.png" alt="8 Glass A Day" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>"8 Glasses" A Day</h3>
                            <p>Each day your water intake count will be restored to 0, we do not store any of your data. Your daily count is stored in your browser.</p>                            
                        </div>
                        <div class="hidden-xs col-md-4 col-sm-4 center">
                            <img src="/img/today.png" alt="8 Glass A Day" class="feature-items" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 center">
                            <img src="/img/social.png" alt="OkayNote" class="feature-items" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3>Contact Us</h3>
                            <p>
                                Follow us on Twitter <a href="http://twitter.com/oneclicklab" onclick="ga('send', 'event', 'Site', 'Twitter');">@oneclicklab</a> to stay updated. If you run into any problems, please feel free to send us an email at <a href="mailto:waterglass@oneclicklab.com" target="_blank">waterglass@oneclicklab.com</a>.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <div class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://waterglass.oneclicklab.com" data-via="oneclicklab">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwaterglass.oneclicklab.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer center">
            <p>&copy; Copyright 2014 OneClick Lab.</p>
        </footer>
    </div>
</body>
</html>