body {
    font-size: 18px;
    line-height: 1.6;
    color: #8b8b8b;
}

.center {
    text-align: center;
}

header {
    padding: 80px 0;
}

header h1 {
    color: #0c342a;
    font-weight: 300;
    font-size: 3.8em;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 5.2em;
    }
}

header h1 span.beta {
    color: white;
    background: #52b273;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    margin-left: -20px;
}

header .description {
    color: #a4adaa;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
}

.call-to-action {
    padding: 50px 0 0;
    text-align: center;
}

h3 {
    color: #0c342a;
    margin: 0 0 10px;
}

a {
    color: #52b273;
    text-decoration: underline;
}

.button {
    text-decoration: none;
    color: #999;
    border: 1px solid #eee;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7em;
    margin: 10px 0;
    background: #eee;
    width: 100%;
}

@media (min-width: 768px) {
    .button {
        width: auto;
        margin: 0 10px;
    }
}

.feature-items {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .feature-items {
        margin-bottom: 0;
    }
}

.button:hover {
    color: #999;
    text-decoration: none;
}

.button.orange:hover {
    color: white;
    background: #52b273;
}

.button.orange {
    background: #52b273;
    border: 1px solid #52b273;
    color: white;
}

.button i:first-child {
    margin-right: 3px;
}

.button i:last-child {
    margin-left: 3px;
}

section {
    padding: 80px 0;
    position: relative;
}

.twitter, .facebook {
    height: 20px;
    float: left;
    width: 100px;
    overflow: hidden;
}

section:after {
    position: absolute;
    bottom: -2px;
    width: 300px;
    height: 1px;
    background: #c8cecc;
    content: " ";
    left: 50%;
    margin-left: -150px;
}

.featured h3 {
    margin-bottom: 30px;
}

.featured a {
    opacity: .8;
    padding: 0 15px;
}

.featured a:hover {
    opacity: 1;
}

footer.footer {
    padding: 40px 0;
}